@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Ryhmes Text Medium';
    src: url('./fonts/RyhmesText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ryhmes Text Black';
    src: url('./fonts/RyhmesText-Black.woff') format('woff');
  }

  @font-face {
    font-family: 'Ryhmes Text Black Italic';
    src: url('./fonts/RyhmesText-BlackItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Ryhmes Text Medium Italic';
    src: url('./fonts/RyhmesText-MediumItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Ryhmes Text Semi Bold';
    src: url('./fonts/RyhmesText-SemiBold.woff') format('woff');
  }

  @font-face {
    font-family: 'Ryhmes Text Semi Bold Italic';
    src: url('./fonts/RyhmesText-SemiBoldItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Helvetica Now Display Black';
    src: url('./fonts/HelveticaNowDisplay-Black.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Helvetica Now Display Medium';
    src: local('Helvetica Now Display Medium'), url('./fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  }

  html {
    font-family: 'Helvetica Now Display Medium', system-ui, sans-serif;
  }
}

@layer components {
  .field_with_errors input,
  .field_with_errors select,
  .field_with_errors textarea {
    border-color: #FF0000; /* Red border color */
    border-width: 3px; /* 3px border width */
    border-style: solid; /* Solid border */
  }

  .summary {
    background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@tailwind utilities;
